@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --font-code: 'Source Code Pro', monospace;
}

body{
    margin: 0;
    background-color: black;
}

.vertical{
    writing-mode: vertical-rl;
}



.decorated ::marker {
    color: rgb(234 179 8 / 1);
}


.card:hover .title::after,
.card:focus-within .title::after{
    transform: scaleX(1);
}

.title::after{
    width: calc(100% + 1rem);
    transform-origin: left;
    transition: transform 500ms ease;

}

@media(hover){
    .content{
    transform: translateY(59%);
    transition: transform 500ms ease;
}
 .text{
    opacity: 0;
    transition: opacity 500ms linear;
}
.title::after{
    transform: scaleX(0);

}
}

.card:hover .content,
.card:focus-within .content{
    transform: translateY(0);
    transition-delay: 500ms;
}

.card:focus-within .content{
    transition-duration:0ms
}

.card:hover .text,
.card:focus-within .text{
    opacity: 1;
}

