@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --font-code: 'Source Code Pro', monospace;
}

body{
    margin: 0;
    background-color: black;
}

.vertical{
    writing-mode: vertical-rl;
}



.decorated ::marker {
    color: rgb(234 179 8 / 1);
}

